/* ---------- Color Module Styles ----------- */

body {
  color: #3C3744;
  background: #6D9F71;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background:#6D9F71;
}

.tabs ul.primary li a.is-active {
  background-color:#EEE5E9;
}

.tabs ul.primary li.is-active a {
  background-color: #EEE5E9;
  border-bottom-color: #EEE5E9;
}

#navbar-top {
  background-color: #6D9F71;
}

#navbar-main {
  background-color: #F3B61F;
}

a,
.link {
  color: #3C3744;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #CC5D00;
}

a:active,
.link:active {
  color: #CC5D00;
}

.page-item.active .page-link {
  background-color: #3C3744;
  border-color: #3C3744;
}

.page-link,
.page-link:hover {
  color: #3C3744;
}

.sidebar .block {
  background-color: #6D9F71;
  border-color: #6D9F71;
}

.btn-primary {
  background-color: #3C3744;
  border-color: #3C3744;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #3C3744;
}

.site-footer {
  background: #6D9F71;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
.nav-link {
color: #3C3744;
}
.btn-primary {
color: #EEE5E9;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #EEE5E9;
  padding-bottom: 5px;
  text-shadow: 0 0px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}
h2{
color:#3C3744;
}
p{
  color:#3C3744;
}
h1 {
color:#3C3744;
}
.node--view-mode-teaser h2 a {
  color:#3C3744;
}
div a {
  color:#3C3744;
}