/* ---------- Color Module Styles ----------- */

body {
  color: #FFFF82;
  background: #2A324B;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background:#2A324B;
}

.tabs ul.primary li a.is-active {
  background-color:#2A324B;
}

.tabs ul.primary li.is-active a {
  background-color: #2A324B;
  border-bottom-color: #2A324B;
}

#navbar-top {
  background-color: #4F9D69;
}

#navbar-main {
  background-color: #4F9D69;
}

a,
.link {
  color: #FFFF82;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #CC5D00;
}

a:active,
.link:active {
  color: #CC5D00;
}

.page-item.active .page-link {
  background-color: #FFFF82;
  border-color: #FFFF82;
}

.page-link,
.page-link:hover {
  color: #FFFF82;
}

.sidebar .block {
  background-color: #4F9D69;
  border-color: #4F9D69;
}

.btn-primary {
  background-color: #FFFF82;
  border-color: #FFFF82;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFFF82;
}

.site-footer {
  background: #2A324B;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
.nav-link {
color: #FFFF82;
}
.btn-primary {
color: #2A324B;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 0px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}