@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1rydpDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pyd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1qsd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1ryd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1rAd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oscJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oVcJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pycJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/rokkitt/v27/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pbcJDL.ttf) format('truetype');
}
